@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1: #10a969;
    --color-2: #aab2ba;
    --color-3: #0e150f;
    --color-4: #fff;
    --color-5: #ffffff28;
    --color-6: #000;
    --color-7: #ffffff18;
    --color-8: #73954318;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #0e150f;
  font-family: var(--font-gensans);
}
