.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #10969A;
    left: calc(50% - 2px)
}

@media(max-width: 767px) {
    .timeline-items::before {
        left:17px
    }
}